html,
body,
#root {
  @apply h-full;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* @apply bg-white dark:bg-primary text-primary dark:text-white; */
}

[data-theme='light'],
[data-theme='cupcake'] {
  .logo-black {
    display: block;
  }

  .logo-white {
    display: none;
  }
}

[data-theme='dark'] {
  .logo-black {
    display: none;
  }

  .logo-white {
    display: block;
  }
}
