---
import AppProfilePage from '../../../layouts/app';
import Head from '../../../layouts/head.astro';
import AppLinksPage from './index.tsx';
---

<html lang="en">
    <Head />
    <body>
        <AppProfilePage client:only>
            <AppLinksPage client:only />
        </AppProfilePage>
    </body>
</html>
