---
import AppProfilePage from '../../../layouts/app';
import Footer from '../../../layouts/footer.astro';
import Head from '../../../layouts/head.astro';
import AppLinksPage from './index.tsx';
---

<html lang="en">
    <Head title="Profile" />
    <body>
        <AppProfilePage client:only>
            <AppLinksPage client:only />
        </AppProfilePage>
        <Footer />
    </body>
</html>
