---
import AppLayout from '../../../layouts/app';
import Footer from '../../../layouts/footer.astro';
import Head from '../../../layouts/head.astro';
import AppLinksPage from './index.tsx';
---

<html lang="en">
    <Head title="Links" />
    <body>
        <AppLayout client:only>
            <AppLinksPage client:only />
        </AppLayout>
        <Footer />
    </body>
</html>
