---
import AppLayout from '../../../layouts/app';
import AppLinksPage from './index.tsx';
---

<html lang="en">
    <head></head>
    <body>
        <AppLayout client:only>
            <AppLinksPage client:only />
        </AppLayout>
    </body>
</html>
