---
import AppLayout from '../../layouts/app';
import Footer from '../../layouts/footer.astro';
import Head from '../../layouts/head.astro';
import Page from './index.tsx';
---

<html lang="en">
    <Head title="Dashboard" />
    <body>
        <AppLayout client:only>
            <Page client:only />
        </AppLayout>
        <Footer />
    </body>
</html>
