---
import Head from './Head.astro';
import Layout from './AppLayout';
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="autumn">
    <Head title={title} description={description} />
    <body>
        <Layout client:only>
            <slot />
        </Layout>
    </body>
</html>
